body {
  background: linear-gradient(to right, #848181 0%, #694C5C 50%, #090D47 100%);
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.profile {
  width: 250px;
  height: 250px;
  display: flex;
  position: fixed;
  margin: 0 auto;
  
}
.intro-container{
  max-width: 300px;
  margin: 0;
  position: fixed;
  margin-top: 400px;
}
.intro {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
  
  
  
}
.icons-container{
  max-width: 300px;
  margin: 0;
  position: fixed;
  margin-top: 250px;
}
.icon {
  width: 25px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  display: inline-block;
  text-align: left;
}
.links-container {
  max-width: 300px;
  margin: 0;
  margin-top: 650px;
  position: fixed;
}
.linkedin, .resume {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  justify-content: center;
}

.project-title {
  font-size: 34px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  position: relative;
  
  background-color: #514e4e;
  height: 800px;
  width: 650px;
  overflow: hidden;
  outline: 7px solid white;
  margin:20px;
  bottom: 0;
  top: 0;
  left: 500px;
  display: inline-flex;
  
  
}
.project:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  clip-path: circle(150px at 80% 20%);
  transition: 0.5% ease-in-out;
}
.project:hover:before{
  clip-path: circle(300px at 80% -20%);
}
.project:after{
  
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(212, 12, 12, 0.649);
}
.project .project-image-container{
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 400px;
  transition: 0.5s;
}
.project:hover .project-image-container{
  top: 0%;
  transform: translateY(0%);
}
.project .project-image-container .project-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  outline: 5px solid wheat;
}
.project .project-details{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  transition: 1s;
  z-index: 10;
  color: white;
}
.project:hover .project-details{
  color: white;
  height: 400px;
  
}
.project-icons{
  position: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 27px;
  transition: 0.5s;
  height: 90px;
  width: 90px;
  display: inline-flex;
}
.project-details{
  font-size: 25px;
}
.form{
  position: relative;
  left: 220px;
  display: inline-flex;
  
}
@media only screen and (max-width: 414px) and (max-height: 896px) {
  .project {
    height: 500px;
  }

  .project:before {
    clip-path: circle(80px at 80% 20%);
  }

  .project:after {
    top: 20%;
    left: -15%;
    font-size: 6em;
  }

  .project .project-image-container {
    height: 250px;
  }

  .project .project-image-container .project-image {
    width: 250px;
  }

  .project .project-details {
    height: 100px;
  }

  .project-icons {
    padding: 8px 15px;
    height: 60px;
    width: 60px;
  }

  .form {
    left: 120px;
  }
}
/* Add any additional styles or modifications as needed */


/* Add any additional styles or modifications as needed */





