body {
  background-color: #2a4a96;
  color: #fff;
}

.startSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.greeting {
  font-size: 24px;
  margin-bottom: 10px;
}

.intro {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.links-container {
  margin-top: 40px;
}
.linkedin, .resume {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.project-title {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}
.project-details{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}
.project-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.project-icons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.project-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.project-desc {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  color: black;
}

/* Add any additional styles or modifications as needed */


/* Add any additional styles or modifications as needed */





