body {
  background: linear-gradient(to right, #515050  0%, #5f1212 50%, #4e0808 100%);
  color: white;
  overflow-x: hidden;
   /* Resize the background image to cover the entire container */
}


.profile {
  width: 250px;
  height: 250px;
  display: flex;
  position: fixed;
  margin: 0 auto;
  
}
.intro-container{
  max-width: 300px;
  margin: 0;
  position: fixed;
  margin-top: 400px;
}
.intro {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  
  
  
}
.icons-container{
  max-width: 300px;
  margin: 0;
  position: fixed;
  margin-top: 250px;
}
.icon {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  display: inline-block;
  text-align: left;
}
.links-container {
  max-width: 300px;
  margin: 0;
  margin-top: 750px;
  position: fixed;
}
.linkedin, .resume {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  justify-content: center;
}

.project-title {
  font-size: 34px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  position: relative;
  background:url(https://wallpaperaccess.com/full/2152063.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 590px;
  overflow: hidden;
  margin:20px;
  bottom: 0;
  top: 0;
  left: 400px;
  display: inline-flex;
  
  
}
.project:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  clip-path: circle(150px at 80% 20%);
  transition: 0.5% ease-in-out;
}
.project:hover:before{
  clip-path: circle(300px at 80% -20%);
}
.project:after{
  
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(12, 132, 212, 0.649);
}
.project .project-image-container{
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 290px;
  transition: 0.5s;
}
.project:hover .project-image-container{
  top: 0%;
  transform: translateY(0%);
}
.project .project-image-container .project-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  
}
.project .project-details{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
  color: black;
}
.project:hover .project-details{
  color: rgb(0, 0, 0);
  height: 450px;
  
}
.project-icons{
  position: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 27px;
  transition: 0.5s;
  height: 5px;
  width: 90px;
  display: inline-flex;
}
.project-details{
  font-size: 25px;
  width: 30px;
}
.project-desc{
  text-align: center;
}
.form{
  position: relative;
  left: 120px;
  display: inline-flex;
  
}
.visit{
  background-color: rgb(158, 17, 17);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 414px) and (max-height: 926px) {
  body{
    color: white;
    overflow-x: hidden;
  }
  .profile {
    width: 250px;
    height: 250px;
    display: flex;
    position: relative;
    margin: 0 auto;
    
  }
  .project-icons {
    position: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 27px;
  transition: 0.5s;
  height: 70px;
  width: 40px;
  display: inline-flex;
  }
  .intro-container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
  }
  .intro {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    color: white
  }
  .icons-container{
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
  }
  .icon {
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    display: inline-block;
    text-align: left;
  }
  .links-container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
  }
  
  .project {
  height: 600px;
  position: relative;
  width: 330px;
  overflow: hidden;
  margin:20px;
  bottom: 0;
  top: 0px;
  left: 0px ;
  display:inline-block;
  
  }
  .project:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  .project:hover .project-details{
    color: rgb(0, 0, 0);
    height: 420px;
    
  }
  .project:hover .project-image-container{
    top: 0%;
    transform: translateY(0%);
  }
  .icon {
    width: 28px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    display: inline-block;
    text-align: left;
  }
  
  .project:before {
    clip-path: circle(80px at 80% 20%);
  }

  .project:after {
    top: 20%;
    left: -15%;
    font-size: 6em;
  }

  .project .project-image-container {
    height: 190px;
  }

  .project .project-image-container .project-image {
    width: 380px;
  }

  .project .project-details {
    height: 100px;
    font-size: 20px;
  }

  
  .form {
    left: 0px;
    top: 50px;
  }
}
.visit{
  background-color: rgb(158, 17, 17);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}






